<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

    <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:arg name="kinematics_config" default="$(find ur_e_description)/config/ur5e_default.yaml"/>
  <xacro:ur5e_robot prefix="" joint_limited="false"
    kinematics_file="${load_yaml('$(arg kinematics_config)')}"
    />

  <!--  Tables and Walls -->
  <!--  <xacro:include filename="$(find apple_proxy)/urdf/tables.urdf.xacro" />-->
  <xacro:include filename="$(find apple_proxy)/urdf/tables_v2.urdf.xacro" />
  <xacro:tables/>


  <!-- Robotiq Gripper -->
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro" />
  <!--  + Height added by the coupler: 8mm -->
  <!--  + Reference frame: at the middle (4mm) -->
  <link name="robotiq_coupler">
    <visual>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
      <material name="flat_black"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://robotiq_description/meshes/robotiq_85_coupler.stl" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="2.073e-05   1.45286e-03  -1.1049e-03" rpy="0 0 0" />
      <mass value="0.168" />
      <inertia ixx="6.69695624e-05" ixy="5.21511788e-09" ixz="-2.74383009e-08"
               iyy="7.85088161e-05" iyz="5.41105193e-07" izz="1.41819717e-04"/>
    </inertial>
  </link>


  <link name="world" />



  <!-- Describe the interface between the robot and the gripper -->
  <joint name="robotiq_coupler_joint" type="fixed">
    <origin xyz="0 0 0.004" rpy="0 0 ${-pi/2.0}" />
    <parent link="tool0"/>
    <child link="robotiq_coupler"/>
  </joint>
    <!-- Attach the robotiq 85 gripper -->
  <xacro:robotiq_85_gripper prefix="" parent="robotiq_coupler" >
    <origin xyz="0 0 0.004" rpy="0 ${-pi/2} ${pi}"/>
  </xacro:robotiq_85_gripper>


   <!-- Describe the interface between the world and the tables -->
  <joint name="world_big_table" type="fixed">
    <parent link="world" />
    <child link="big_table" />
    <origin xyz="0 0 0" rpy="0 0 1.5708" />
  </joint>

  <joint name="world_small_table" type="fixed">
    <parent link="world" />
    <child link="small_table" />
    <origin xyz="-0.21 -1.32 0" rpy="0 0 1.5708" />
  </joint>

  <!-- Describe the interface between the world and the Apple Proxy -->
  <joint name = "bigTable_simpleProxy" type="fixed"> -->
    <parent link = "big_table" /> -->
    <child link = "apple_proxy" /> -->
    <origin xyz = "0.09 0.81 0.975" rpy="1.5708 0 -1.5708" />
  </joint>

    <!-- Describe the interface between the world and the robot" -->
  <joint name="world_joint" type="fixed">
    <parent link="small_table" />
    <child link = "base_link" />
    <origin xyz="0.355 0.357 0.86" rpy="0.0 0.0 3.1416" />
  </joint>

<!--  <joint name = "proxy_stem" type="fixed">-->
<!--    <parent link = "apple_proxy" />-->
<!--    <child link = "apple_stem" />-->
<!--    <origin xyz = "0.16 0.45 2.42" rpy="0 3.1416 0.0" />-->
<!--    &lt;!&ndash;z was 0.42 before &ndash;&gt;-->
<!--  </joint>-->

<!--  <joint name = "stem_apple" type="fixed">-->
<!--    <parent link = "apple_stem" />-->
<!--    <child link = "apple" />-->
<!--    <origin xyz = "-0.04 -0.03 -2.08" rpy="0 0.0 0.0" />-->
<!--    &lt;!&ndash;z was -0.08 before &ndash;&gt;-->
<!--  </joint>-->

</robot>
